:root {
  --primary: #606c5d;
  --secondary: #f1c376;
  --bg: #f7e6c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 5%;
  background-color: #606c5d;
  position: fixed;
  width: 100%;
  height: 110px;
  /* top: 0;
  left: 0;
  right: 0;
  z-index: 9999; */
  color: #fff;
}

.logo {
  width: 106px;
  height: 95px;
}

.navbar .name-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.navbar .name-logo span {
  color: var(--secondary);
}

.navbar .navbar-nav ul,
.navbar .navbar-nav li {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0.2rem;
}

.navbar .navbar-nav ul {
  background: #606c5d;
  list-style: none;
  width: 100%;
}

.navbar .navbar-nav li {
  float: left;
  position: relative;
  width: auto;
}

.navbar .navbar-nav a {
  display: flex;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.navbar-nav li:hover a {
  color: #f1c376;
}

.navbar .navbar-nav li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f1c376;
  transform: scaleX(0);
}

.navbar .navbar-nav li:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

#submenu {
  display: none;
}

#submenu a {
  color: #fff;
}

.navbar-nav li:hover ul#submenu {
  display: block;
  position: absolute;
  padding: 15px 0;
  color: #f1c376;
}
#submenu a:hover {
  color: #f1c376;
}

.navbar .nav-extra {
  display: flex;
}

#hamburger-menu {
  display: none;
  color: #fff;
}

/* main page */
.home {
  background-color: #f7e6c4;
  /* background-image: url("motor.png");
  background-repeat: no-repeat;
  background-position: center; */
  width: 100%;
  height: 800px;
}

/* ini edit */
.home .track {
  margin-top: 120px;
  /* background-color: pink; */
  background-image: url("image/motor.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 780px;
  width: 100%;
  height: 780px;
  /* line-height: 780px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home .track .resi {
  /* orange area */
  /* background-color: orange; */
  font-size: 32px;
  color: #606c5d;
  font-weight: bold;
  width: 680px;
  height: 145px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* 
.home .track .resi p {
  font-weight: bold;
} */

 /* resi's */
input[type="text"] {
  width: 680px;
  height: 93px;
  border-radius: 8px;
  border-color: #606c5d;
  font-size: 32px;
  color: #606c5d;
  padding-left: 50px;
}

.resi input[type=text]:focus {
  background-color: #606C5D;
  color: #F7E6C4;
}


/* button */
input[type="submit"] {
  width: 180px;
  height: 52px;
  background-color: #fff;
  color: var(--primary);
  font-size: 20px;
  margin: 8px 0;
  border: 2px solid var(--primary);
  border-radius: 12px;
  cursor: pointer;
  /* display: flex;
  align-items: center; */
}

input[type="submit"]:hover {
  background-color: var(--primary);
  color: #fff;
  border: none;
}
/* button baru */
.resi a {
  background-color: #f1c376;
  font-weight: bold;
  color: #606c5d;
  font-size: 32px;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resi a:hover {
  background-color: #606c5d;
  font-weight: bold;
  color: #f1c376;
  font-size: 32px;
  border: solid 3px #f1c376;
  /* text-shadow: 2px 2px 5px #f1c376; */
  /* box-shadow: 2px 2px 5px #f1c376; */
  box-shadow: 0 0 100px #f1c376;
}

.home .track .subresi {
  /* tosca area */
  /* background-color: aqua; */
  width: 900px;
  height: 350px;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.subresi {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly; */
  /* flex-flow: column wrap; */
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

.subresi .shipnow {
  background-color: #606c5d;
  width: 250px;
  height: 250px;
  text-align: center;
  /* flex-direction: row; */
  border-radius: 8px;
  border-style: solid;
  border-color: #f7e6c4;
  font-size: 30px;
  color: #f7e6c4;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shipnow img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subresi .quote {
  background-color: white;
  width: 250px;
  height: 250px;
  /* flex-direction: row; */
  border-radius: 8px;
  border-style: solid;
  border-color: #606c5d;
  font-size: 30px;
  color: #606c5d;
}

.quote img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subresi .pricing {
  background-color: white;
  width: 250px;
  height: 250px;
  /* flex-direction: row; */
  border-radius: 8px;
  border-style: solid;
  border-color: #606c5d;
  font-size: 30px;
  color: #606c5d;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

.pricing img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.subresi > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}

/* main login */

.main-login {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 0.7rem 5%;
  padding-top: 4rem;
}

.main-login .main-login-content h1 {
  font-size: 40px;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #606c5d;
}

.main-login .main-login-content hr {
  width: 40%;
  color: #606c5d;
  margin-left: 2px;
  text-align: left;
  margin-bottom: 2rem;
}

.main-login .main-login-content p {
  font-size: 20px;
  color: #606c5d;
  margin-bottom: 2rem;
}

.main-login img {
  max-width: 580px;
  max-height: 380px;
  border-radius: 8px;
}

/* our shipments */

.our-ship {
  margin-top: 7rem;
  text-align: center;
  padding: 0.7rem 5%;
}

.our-ship h1 {
  font-size: 40px;
  font-weight: 600;
  color: #606c5d;
  padding-bottom: 4rem;
}

.our-ship .our-ship-text {
  font-size: 20px;
  padding-bottom: 6rem;
}

.our-ship-feather {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-bottom: 4rem;
}

.our-ship-content .our-ship-menu #icon-ship {
  font-size: 7rem;
  color: #606c5d;
  padding-bottom: 2rem;
}

.our-ship-content .our-ship-menu p {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.our-ship-content .our-ship-menu a i {
  font-size: 2rem;
  color: #000;
  padding-top: 2rem;
}

.our-ship-content .our-ship-menu a i:hover {
  color: #606c5d;
  font-weight: 600;
}
/* .header-rating h2{
  display: flex;
  justify-content: center;
} */

.checked {
  color: #606c5d;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  padding: 9 35px;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background-color: #606c5d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px #606c5d;
  margin: 113.4rem 12rem 0 12rem;
}

.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
}

.carousel.dragging{
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card{
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  height: 201px;
  /* width: 400px; */
  list-style: none;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #606c5d;
  padding-bottom: 15px;
  display: flex;
}

.card .img img {
  display: flex;
  height: 200px;
  width: 125px;
  object-fit: cover;
  border-radius: 8px 8px 8px 8px;
  align-items: center;
}

.card .img {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.name-rating {
  padding-left: 10px;
}

.name-rating h2 {
  margin: 3px 0px 9px 0px;
}
.name-rating p {
  margin: 3px 0px 9px 0px;
}

.question-wrap {
  width: 100%;
  height: 634px;
  /* background-color: red; */
  margin-top: 100px;
}

.question-wrap .question-1 {
  width: 100%;
  height: 70px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-1 h2 {
  color: #606C5D;
  font-size: 40px;
}

.question-2 {
  width: 100%;
  height: 250px;
  /* background-color: aqua; */
  display: flex;
  /* flex-flow: column; */
  justify-content: space-evenly;
  margin-top: 100px;
}

.sub-question1 {
  width: 420px;
  height: 250px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 8px;
}

.sub-question1 a {
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.sub-question1 a:hover {
  color: #606C5D;
  text-shadow: 4px 4px 8px #F7E6C4;
}

.sub-question2 {
  width: 420px;
  height: 250px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 8px;
}

.sub-question2 a {
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.sub-question2 a:hover {
  color: #606C5D;
  text-shadow: 4px 4px 8px #F7E6C4;
}

.sub-question3 {
  width: 420px;
  height: 250px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 8px;
    /* margin-top: 10px; */
}

.sub-question3 a {
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.sub-question3 a:hover {
  color: #606C5D;
  text-shadow: 4px 4px 8px #F7E6C4;
}

.question-wrap .question-3 {
  width: 100%;
  height: 250px;
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: center;
}

/* button */
.question-3 a {
  width: 195px;
  height: 58px;
  margin-top: 75px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: solid 3px #606C5D;
  color : #606C5D;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-3 a:hover{
  color: #FFFFFF;
  background-color: #606C5D;
  text-shadow: 4px 4px 8px #F7E6C4;
  box-shadow: 10px 10px 5px #F7E6C4;
}

.needhelp {
  width: 100%;
  height: 634px;
  /* background-color: orange; */
}

.needhelp .needhelp-1 {
  width: 100%;
  height: 70px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.needhelp .needhelp-1 h2 {
  color: #606C5D;
  font-size: 40px;
}

.needhelp-2 {
  width: 100%;
  height: 350px;
  /* background-color: aqua; */
  display: flex;
  /* flex-flow: column; */
  justify-content: space-evenly;
  margin-top: 80px;
}

.complaint {
  width: 640px;
  height: 322px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 8px;
    /* margin-top: 10px; */
    padding: 40px;
}

.complaint img {
  width: 58px;
  height: 71px;
}

.complaint p {
  font-size: 20px;
  text-align: center;
}

.claim {
  width: 640px;
  height: 322px;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 8px;
    /* margin-top: 10px; */
  padding: 40px;
}

.claim img {
  width: 58px;
  height: 71px;
}

.claim p {
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


/* Footer */
.footer {
  background-color: var(--secondary);
  padding: 40px;
  padding-right: 20px;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.footer-col {
  width: 30%;
  padding: 0 50px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col a {
  color: #000;
}

.footer-col h4 {
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 8px;
  transition: 0.4s;
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--bg);
  color: #000000;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: #fff;
  background-color: #000;
}
.copyright {
  display: flex;
  background-color: #f7e6c4;
}

/* Media Query */

/* Laptop */
@media only screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar,
  .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1rem 5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* Mobile Phone */
@media only screen and (max-width: 260px) {
    .navbar {
    font-size: 20px;
  }
  .logo {
    width: 105px;
    height: 95px;
  }
}
