:root {
  --primary: #606c5d;
  --secondary: #f1c376;
  --bg: #f7e6c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 5%;
  background-color: #606c5d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: #fff;
}

.logo {
  width: 106px;
  height: 95px;
}

.navbar .name-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.navbar .name-logo span {
  color: var(--secondary);
}

.navbar .navbar-nav ul,
.navbar .navbar-nav li {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0.2rem;
}

.navbar .navbar-nav ul {
  background: #606c5d;
  list-style: none;
  width: 100%;
}

.navbar .navbar-nav li {
  float: left;
  position: relative;
  width: auto;
}

.navbar .navbar-nav a {
  display: flex;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.navbar-nav li:hover a {
  color: #f1c376;
}

.navbar .navbar-nav li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f1c376;
  transform: scaleX(0);
}

.navbar .navbar-nav li:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

#submenu {
  display: none;
}

#submenu a {
  color: #fff;
}

.navbar-nav li:hover ul#submenu {
  display: block;
  position: absolute;
  padding: 15px 0;
  color: #f1c376;
}
#submenu a:hover {
  color: #f1c376;
}

.navbar .nav-extra {
  display: flex;
}

#hamburger-menu {
  display: none;
  color: #fff;
}

/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar,
  .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1rem 5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* content */
.distance-pricing {
  height: 8vw;
  width: 100%;
  display: absolute;
}

.pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vw;
  background-color: var(--secondary);
  font-weight: 800;
  font-size: 1.5vw;
  color: white;
}
.mainContent {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0.9rem 5%;
}

.mCon1 {
  display: block;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.mText h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
  color: #606c5d;
}

.mCon1 {
  width: 100%;
}

.md- {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mCon1 label {
  margin-left: 1.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  color: #606c5d;
  font-weight: 600;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40rem;
}

/* dropdown ongkir */
.mCon2 #dropdown {
  width: 302px;
  height: 42px;
  color:#606C5D;
  background-color: white;
  border : grey solid 1px;
  border-radius: 12px;
  box-shadow: 5px 5px 2.5px #606c5d;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.mCon2 #dropdown:hover {
  background-color: #606C5D;
  color: #FFFFFF;
  box-shadow: 5px 5px 2.5px #f2f2f2;
}

/* button Cek Ongkir */
.btn-submit {
  display: flex;
  justify-content: center;
}

.btn-submit button {
  color: #FFFFFF;
  background-color: #606C5D;
  box-shadow: 5px 5px 2.5px #F7E6C4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 302px;
  height: 38px;
  border-radius: 12px;
  font-size: 20px;
}

/* hover button check ongkir */
button:hover {
  transition: 0.3s ease;
  background-color: #FFFFFF;
  border: solid 3px #606C5D;
  color : #606C5D;
  box-shadow: 2.5px 2.5px 1px #606C5D;
}

.result {
  width: 100%;
  margin-top: 3rem;
}

.result h2 {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: #606c5d;
  font-weight: 600;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-size: 1.5rem;
}

td {
  padding-bottom: 4rem;
  font-size: 1.5rem;
}

.p-layanan {
  margin-top: 7rem;
}

.layanan-text h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #606c5d;
  font-weight: 600;
}

.layanan-text p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 9rem;
}

.menu-layanan {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
}

.layanan1 {
  width: 330px;
  height: 330px;
  border: 1.5px solid #606c5d;
  border-radius: 8px;
  /* padding-bottom: 2rem; */
  margin: 3rem;
  display: flex;
  align-items: center;
}

.layanan1 .sss .choice {
  display: flex;
  align-items: center;
}

.layanan1:hover {
  background-color: #606c5d;
  color: #FFFFFF;
  border: 1.5px solid #f5f5f5;
  transition: 0.3s ease-in-out;
}


.layanan1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.layanan2 {
  width: 330px;
  height: 330px;
  border: 1.5px solid #606c5d;
  border-radius: 8px;
  /* padding-bottom: 2rem; */
  margin: 3rem;
  display: flex;
}

.layanan2 .sss {
  width: 330px;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
}

.layanan2:hover {
  background-color: #606c5d;
  color: #FFFFFF;
  border: 1.5px solid #f5f5f5;
  transition: 0.3s ease-in-out;
}

.layanan2 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.menu-layanan span {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  color: #606c5d;
}

.menu-layanan span:hover {
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  color: #FFFFFF;
}


/* footer */
.footer {
  background-color: var(--secondary);
  padding: 40px;
  padding-right: 20px;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.footer-col {
  width: 30%;
  padding: 0 50px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col a {
  color: #000;
}

.footer-col h4 {
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 8px;
  transition: 0.4s;
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--bg);
  color: #000000;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: #fff;
  background-color: #000;
}
.copyright {
  display: flex;
  background-color: #f7e6c4;
}
