:root {
  --primary: #606c5d;
  --secondary: #f1c376;
  --bg: #f7e6c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 5%;
  background-color: #606c5d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: #fff;
}

.logo {
  width: 106px;
  height: 95px;
}

.navbar .name-logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

.navbar .name-logo span {
  color: var(--secondary);
}

.navbar .navbar-nav ul,
.navbar .navbar-nav li {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 0 0.2rem;
}

.navbar .navbar-nav ul {
  background: #606c5d;
  list-style: none;
  width: 100%;
}

.navbar .navbar-nav li {
  float: left;
  position: relative;
  width: auto;
}

.navbar .navbar-nav a {
  display: flex;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.navbar-nav li:hover a {
  color: #f1c376;
}

.navbar .navbar-nav li::after {
  content: "";
  display: block;
  border-bottom: 3px solid #f1c376;
  transform: scaleX(0);
}

.navbar .navbar-nav li:hover::after {
  transform: scaleX(0.5);
  transition: 0.2s linear;
}

#submenu {
  display: none;
}

#submenu a {
  color: #fff;
}

.navbar-nav li:hover ul#submenu {
  display: block;
  position: absolute;
  padding: 15px 0;
  color: #f1c376;
}
#submenu a:hover {
  color: #f1c376;
}

.navbar .nav-extra {
  display: flex;
}

#hamburger-menu {
  display: none;
  color: #fff;
}

/* Media Query */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar,
  .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1rem 5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
/* Content */
.distance-services {
  height: 8vw;
  width: 100%;
  display: absolute;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vw;
  background-color: var(--secondary);
  font-weight: 800;
  font-size: 1.8vw;
  color: white;
}
.content1 img {
  height: 168px;
  width: 152px;
}

.content2 img {
  height: px;
  width: 187px;
}

.logo-services3 img {
  height: 140px;
  width: 175px;
}

.content1 {
  background-image: url("../image/pict1_services.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 678px;
  display: flex;
  align-items: center;
}

.content2 {
  background-image: url("../image/pict2_services.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 678px;
  display: flex;
  align-items: center;
}

.content3 {
  background-image: url("../image/pict3_services.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 678px;
  display: flex;
  align-items: center;
}

.content1 img {
  margin-left: 5rem;
}

.content1 h4 {
  margin-left: 3rem;
  font-size: 24px;
  font-weight: 700;
}

.content2 img {
  margin-left: 5rem;
}

.content2 h4 {
  margin-left: 4rem;
  font-size: 24px;
  font-weight: 700;
}

.content3 img {
  margin-left: 5.5rem;
}

.content3 h4 {
  margin-left: 4.5rem;
  font-size: 24px;
  font-weight: 700;
}

.logo-services {
  flex: 0.3;
}
.subcontent {
  flex: 1;
}

.subcontent p {
  font-size: 24px;
  font-weight: 500;
}

.button {
  display: block;
  height: 45px;
  width: 160px;
  border: 2px solid #000;
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  border-radius: 8px;
  transition: 1s;
}

.button a {
  color: #000;
}

/* Footer */
.footer {
  background-color: var(--secondary);
  padding: 40px;
  padding-right: 20px;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

.footer-col {
  width: 30%;
  padding: 0 50px;
  color: #000;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col a {
  color: #000;
}

.footer-col h4 {
  font-size: 20px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li a:hover {
  color: var(--primary);
  padding-left: 8px;
  transition: 0.4s;
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: var(--bg);
  color: #000000;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: #fff;
  background-color: #000;
}
.copyright {
  display: flex;
  background-color: #f7e6c4;
}
/* .home .pict1 img {
    width : 1048px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */
